{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div style="display:flex; align-items:center; justify-content:center; height:100vh;">
    <div style="height:50%; width:100%">

        {% for institution in object_list %}
        <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#{{ institution.name }}" aria-expanded="false"
                            aria-controls="{{ institution.name }}">
                        {{ institution.name }}
                    </button>
                </h2>
                <div id="{{ institution.name }}" class="accordion-collapse collapse"
                     data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <h3>Saldo Atual: {{ institution.balance }}</h3>
                        {% if institution.cards.all %}
                            {% for card in institution.cards.all %}
                                {{ card.name }}
                                {% for debt in card.debts.all %}
                                    <div>
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th scope="col">ID</th>
                                                <th scope="col">Compra</th>
                                                <th scope="col">Descrição</th>
                                                <th scope="col">Parcela Atual</th>
                                                <th scope="col">Parcela Valor</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <th scope="row">{{debt.id}}</th>
                                                <td>{{ debt.name }}</td>
                                                <td>{{ debt.description }}</td>
                                                <td>{{ debt.current_installment }}</td>
                                                <td>{{ debt.value }}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                {% endfor %}
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
